= javascript_include_tag 'myfunction', 'data-turbolinks-track' => true
= javascript_include_tag 'tab', 'data-turbolinks-track' => true
= javascript_include_tag 'jquery.uniform.min', 'data-turbolinks-track' => true

.popup_fild
  .selectbox5
    = select(:campaign_rule, :campaign_id, options_from_collection_for_select(@campaigns, :id, :title), {:include_blank => "Select Campaign"}, :class=>'select1', :onchange => 'showRules(this.value)')